---
import type { Basics } from "@/cv"
import Section from "../Section.astro"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import getContext from "@astro-utils/context"

const { basics } = getContext(Astro)
const { summary } = basics

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Section title={t('about')}>
  <p>
    {summary}
  </p>
</Section>
